/* ------------------------------------------------------------------- 
 * ## bricks masonry 
 * ------------------------------------------------------------------- */
.bricks {
    brick-padding : 4rem;
    padding-top     : var(--vspace-5);
    padding-bottom  : var(--vspace-3);
	background-color: #ffffff
}


.bricks--half-top-padding {
    padding-top : var(--vspace-2_5);
}

.bricks .masonry {
    max-width : 1520px;
    width     : 92%;
    margin    : 0 auto var(--vspace-2);
    overflow  : hidden;
}

.bricks .pagination {
    margin-top : var(--vspace-2);
}

.bricks-wrapper {
    position   : relative;
    margin-top : calc(var(--brick-padding) * -1);
}

.bricks-wrapper .grid-sizer,
.bricks-wrapper .brick {
    width : 25%;
}

.bricks-wrapper .brick {
    float   : left;
    padding : var(--brick-padding) var(--brick-padding) 0;
}

/* ------------------------------------------------------------------- 
 * ## masonry entries 
 * ------------------------------------------------------------------- */

.bricks-wrapper {
	background-color: #FFFFFF;
}

.bricks-wrapper .entry__thumb {
    overflow : hidden;
    position : relative;

}

.bricks-wrapper .entry__thumb img {
    vertical-align : bottom;
    transition     : all 0.3s ease-in-out;
    margin         : 0;
}

.bricks-wrapper .entry__thumb .thumb-link::before {
    z-index    : 1;
    content    : "";
    display    : block;
    background : rgba(0, 0, 0, 0.5);
    opacity    : 0;
    visibility : hidden;
    width      : 100%;
    height     : 100%;
    transition : all 0.3s ease-in-out;
    position   : absolute;
    top        : 0;
    left       : 0;
}

.bricks-wrapper .entry__thumb .thumb-link::after {
    z-index        : 1;
    display        : block;
    content        : "...";
    font-family    : georgia, serif;
    font-size      : 2.4rem;
    height         : 90px;
    width          : 90px;
    letter-spacing : .2rem;
    line-height    : 90px;
    margin-left    : -45px;
    margin-top     : -55px;
    text-align     : center;
    color          : white;
    opacity        : 0;
    visibility     : hidden;
    transform      : scale(0.5);
    transition     : all 0.3s ease-in-out;
    position       : absolute;
    left           : 50%;
    top            : 50%;
}

.bricks-wrapper .entry__thumb:hover .thumb-link::before {
    opacity    : 1;
    visibility : visible;
}

.bricks-wrapper .entry__thumb:hover .thumb-link::after {
    opacity    : 1;
    visibility : visible;
    transform  : scale(1);
}

.bricks-wrapper .entry__thumb:hover .thumb-link img {
    transform : scale(1.05);
}

.bricks-wrapper .entry__text {
    padding : var(--vspace-1) 0 calc(var(--vspace-1) + 2px);
}

.bricks-wrapper .entry__header {
    margin     : 0;
    text-align : left;
}

.bricks-wrapper .entry__title {
    font-size      : var(--text-xl);
    font-weight    : 400;
    line-height    : calc(var(--vspace-1) + var(--vspace-0_125));
    letter-spacing : -0.02em;
    margin-top     : 0;
    margin-bottom  : var(--vspace-0_875);
}

.bricks-wrapper .entry__title a,
.bricks-wrapper .entry__title a:visited {
    color : black;
}

.bricks-wrapper .entry__title a:focus,
.bricks-wrapper .entry__title a:hover {
    color : rgba(0, 0, 0, 0.8);
}

.bricks-wrapper .entry__meta {
    display        : block;
    font-family    : var(--font-1);
    font-weight    : 400;
    font-size      : 1.1rem;
    text-transform : uppercase;
    letter-spacing : .1em;
    line-height    : 1.455;
    color          : black;
    margin-bottom  : var(--vspace-0_375);
}

.bricks-wrapper .entry__meta a {
    font-weight : 300;
    color       : var(--color-gray-15);
}

.bricks-wrapper .entry__meta a:focus,
.bricks-wrapper .entry__meta a:hover {
    color : black;
}

.bricks-wrapper .entry__meta .cat-links,
.bricks-wrapper .entry__meta .byline {
    display : inline-block;
}

.bricks-wrapper .entry__meta .cat-links {
    margin-right : .8rem;
}

.bricks-wrapper .entry__meta .cat-links a::after {
    content : ", ";
}

.bricks-wrapper .entry__meta .cat-links a:last-child::after {
    display : none;
}

.bricks-wrapper .entry__excerpt {
    font-weight : 400;
    font-size   : 1.5rem;
    line-height : 1.733;
}

.bricks-wrapper .entry__excerpt p {
    margin-bottom : var(--vspace-0_75);
}

.bricks-wrapper .entry__more-link {
    display        : inline-block;
    font-size      : 1.1rem;
    text-transform : uppercase;
    letter-spacing : .15em;
    color          : black;
    border-bottom  : 1px solid transparent;
}

.bricks-wrapper .entry__more-link:focus,
.bricks-wrapper .entry__more-link:hover {
    border-bottom : 1px solid black;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * project-wide and shared styles
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1600px) {
    .bricks {
        --brick-padding : 2.8rem;
    }
}

@media screen and (max-width: 1500px) {
    .bricks {
        --brick-padding : 4rem;
    }

    .bricks .masonry {
        max-width : 1280px;
    }

    .bricks-wrapper .grid-sizer,
    .bricks-wrapper .brick {
        width : 33.3333%;
    }
}

@media screen and (max-width: 1200px) {
    .bricks {
        --brick-padding : 2.8rem;
    }
}

@media screen and (max-width: 1080px) {
    .bricks {
        --brick-padding : 4rem;
    }

    .bricks-wrapper .grid-sizer,
    .bricks-wrapper .brick {
        width : 50%;
    }
}

@media screen and (max-width: 900px) {
    .bricks {
        --brick-padding : 2.8rem;
    }
}

@media screen and (max-width: 800px) {
    .bricks {
        --brick-padding : 2.4rem;
    }
}

@media screen and (max-width: 700px) {
    .bricks {
        --brick-padding : 4rem;
    }

    .bricks .masonry {
        max-width : 500px;
    }

    .bricks-wrapper .grid-sizer,
    .bricks-wrapper .brick {
        width : 100%;
    }
}

@media screen and (max-width: 420px) {
    .bricks .masonry {
        width : 100%;
    }

    .bricks-wrapper .brick {
        padding-right : 8vw;
        padding-left  : 8vw;
    }

    .bricks-wrapper .entry__title {
        font-size : calc(var(--text-size) * 1.659);
    }
}


/* ===================================================================
 * # BLOG STYLES 
 *
 *
 * ------------------------------------------------------------------- */
.entry-wrap {
    --entry-title-size        : 10rem;
    --text-multiplier         : 1;
    --width-content-blog      : 1200px;
    --content-primary-padding : 15rem;
    max-width                 : var(--width-content-blog);
    padding-bottom            : var(--vspace-5);
}

.entry-wrap .content-primary,
.entry-wrap .comments-wrap {
    padding-left  : var(--content-primary-padding);
    padding-right : var(--content-primary-padding);
}

/* entry header
 */
.entry__header {
    text-align    : center;
    max-width     : 1100px;
    margin-right  : auto;
    margin-left   : auto;
    margin-bottom : var(--vspace-3);
}

.entry__header--narrow {
    max-width : 1000px;
}

.entry__header--narrower {
    max-width : 900px;
}

.entry__title {
    font-size     : calc(var(--entry-title-size) * var(--text-multiplier));
    line-height   : 1.12;
    margin-top    : 0;
    margin-bottom : var(--vspace-1);
}

.entry__meta {
    display         : flex;
    flex-flow       : row wrap;
    align-items     : center;
    justify-content : center;
    font-size       : calc(var(--text-size) * 0.9444);
    font-weight     : 400;
}

.entry__meta a {
    color : var(--color-text);
}

.entry__meta .cat-links a::after {
    content : ", ";
}

.entry__meta .cat-links a:last-child::after {
    display : none;
}

.entry__meta>[class*="entry__meta"] {
    display     : flex;
    align-items : center;
    margin      : 0 1.4rem;
}

.entry__meta>[class*="entry__meta"] svg {
    margin-right : .4rem;
    height       : var(--vspace-0_875);
    width        : var(--vspace-0_875);
}

.entry__meta>[class*="entry__meta"] svg path,
.entry__meta>[class*="entry__meta"] svg circle {
    stroke : var(--color-text);
}

/* entry featured media
 */
.entry__media {
    margin-bottom : var(--vspace-2);
}

.entry__media figure {
    margin : 0;
}

.entry__media img {
    vertical-align : bottom;
    margin-bottom  : 0;
}

/* entry main content
 */
.entry__content .alignwide img {
    --img-width : calc(var(--width-content-blog) - var(--gutter) * 2);
    max-width   : var(--img-width);
    margin      : var(--vspace-1) 0 var(--vspace-1) calc(var(--content-primary-padding) * -1);
}

/* entry tags
 */
.entry__tags {
    display   : flex;
    flex-flow : row wrap;
    margin    : var(--vspace-1_5) 0;
}

.entry__tags strong,
.entry__tags span {
    display : inline-block;
}

.entry__tags strong {
    margin-right  : 1.2rem;
    margin-bottom : var(--vspace-0_25);
}

.entry__tag-list {
    display        : flex;
    flex-flow      : row wrap;
    font-size      : calc(var(--text-size) * 0.6111);
    text-transform : uppercase;
    letter-spacing : .2em;
}

.entry__tag-list a {
    display       : inline-block;
    margin-right  : .2rem;
    margin-bottom : var(--vspace-0_25);
    padding       : 0 1rem;
    border        : 1px solid var(--color-gray-8);
    border-radius : var(--border-radius);
    color         : var(--color-text);
}

.entry__tag-list a:focus,
.entry__tag-list a:hover {
    background-color : var(--color-text);
    color            : white;
}

/* author box
 */
.entry__author-box {
    display     : flex;
    align-items : flex-start;
    font-size   : calc(var(--text-size) * 0.8889);
    font-weight : 300;
    line-height : calc(0.9375 * var(--space));
    color       : var(--color-text-light);
    padding     : var(--vspace-1_5) 0 var(--vspace-1);
    border-top  : 1px solid var(--color-border);
}

.entry__author-avatar {
    margin-top    : 0;
    padding-right : var(--vspace-1);
    flex          : none;
}

.entry__author-avatar img {
    height        : var(--vspace-2_5);
    width         : var(--vspace-2_5);
    border-radius : 50%;
}

.entry__author-name {
    margin-top : 0;
}

.entry__author-name a {
    color : var(--color-text);
}

/* entry blocks, entry forms
 */
.entry__blocks {
    margin-top    : var(--vspace-2);
    margin-bottom : var(--vspace-1);
}

.entry__blocks h4 {
    margin-top : 0;
}

.entry__form {
    margin-top : var(--vspace-1_5);
}

.entry #contactForms,
.entry #cForm {
    --gutter : 1.6rem;
}

